# Logs
logs
*.log

private/
animations/
public/assets/models/nature/

# IDE
.idea

# Build
build/
dist/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.DS_store
.todo