@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

::selection {
}

html,
body {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
    position: relative;
    min-height: 100dvh;
}

* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border: none;
    background: none;
    color: unset;
    margin: 0;
    padding: 0;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    font-style: normal;
    user-select: none;
}

.icon svg {
    width: 100%;
    height: 100%;
}

canvas, .renderer2D {
    cursor: pointer;
}

.renderer2D {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    z-index: 20;
}

.player-name {
    color: #fff;
    filter: drop-shadow(0px 0px 1px #000);
    font-size: 1.2rem;
}